{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="POST" action="." class="form-horizontal">
                        {% csrf_token %}
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        
                        <div class="card-content">
                            <h4 class="card-title">Reset-Password</h4>
                            <div class="col-md-6 validate_height" id="div_name">
                                <label class="col-sm-4 label-on-left ">Old Password<span class="required">*</span></label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                            <input id="old_password" type="password" class= "form-control workflow" name="old_password" required> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 validate_height " id="div_order">
                                    <label class="col-sm-4 label-on-left"> New Password<span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating is -empty">
                                            <label class="control-label"></label>
                                            <input id="new_password" type="password" class= "form-control workflow" name="new_password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 validate_height " id="div_order">
                                    <label class="col-sm-4 label-on-left"> Confirm Password<span class="required">*</span></label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating is -empty">
                                            <label class="control-label"></label>
                                            <input id="confirm_password" type="password" class= "form-control workflow" name="confirm_password" required>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-md-12 text-right choose_right">
                                <a href="{% url 'welcome-page' %}">
                                    <span class="btn btn-fill btn-sm">Cancel</span>
                                </a>
                            <input type="submit" class="btn btn-fill btn-rose btn-sm" value="Reset Password">
                            <div class="ripple-container"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
