{% extends "base.html" %}
{% block content %}
<div class="content">
        <div class="container-fluid">
            <div>
        	<center style="font-size:20px">Welcome to Django for self-learning</center>
        	<img src="/static/assets/img/homeslider_1.jpg" style="padding-bottom: 40px;width: 100%;padding-top: 10px;">
        	</div>
       <!--  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.5972641180347!2d72.56763995018008!3d23.0385549848711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84f53fffffff%3A0x1207a8a45305d211!2sAga+Khan+Rural+Support+Programme+India!5e0!3m2!1sen!2sin!4v1542969414664" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
        	<h4>Indexing</h4>
        	<ul>
        		<li>Login</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        		<li>Logout</li>
        	</ul>
 
        </div>
    </div>
{% endblock %}
